<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/menu/master" routerLinkActive="active" class="item">Master</a>
    <a routerLink="/menu/mapper" routerLinkActive="active" class="item">Mapper</a>
    <a routerLink="/menu/schedule" routerLinkActive="active" class="item">Schedule</a>
    <a routerLink="/menu/team" routerLinkActive="active" class="item">Team</a>
    <a routerLink="/menu/history" routerLinkActive="active" class="item">History</a>
  </div>
</div>